<!DOCTYPE html>

<style>
  .white-background {
    background-color: white;
  }
</style>

<title>Cook.me | Feed</title>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well white-background">
        <br>
        <div class="profile-userpic">
          <a href="/user/<%= @profile_user.username %>"><%= image_tag(@profile_user.avatar.url, class:"img-responsive", alt:"") %></a>
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <p><a href="/user/<%= @profile_user.username %>"><%= @profile_user.first_name %> <%= @profile_user.last_name %></a></p>
          </div>
          <div class="profile-usertitle-job">
            <p>Aprendiz</p>
          </div>
        </div>
      </div>
      <div class="thumbnail">
        <p>Interesses</p>
        <p>
          <span class="label label-default">Novas Receitas</span>
          <span class="label label-primary">Pratos Quentes</span>
          <span class="label label-success">Pratos Frios</span>
          <span class="label label-info">Churrasco</span>
          <span class="label label-warning">Almoço</span>
          <span class="label label-danger">Brunch</span>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ei, aspirante a mestre-cuca!</strong></p>
        Descobriu uma receita nova? Compartilhe com a gente!
      </div>
      <!-- <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->
    </div>
    <div class="col-sm-7">
      <div class="row">
        <% if @recipes_list != [] %>
          <% if @recipes_list != nil %>
            <% @recipes_list.each do |recipe| %>

              <a href="/receita/visualizar/<%= recipe.id =%>">
                <div class="col-sm-3">
                  <div class="well">
                    <%= image_tag(recipe.image_one.url, class:"img-responsive") %>
                    <p><%= recipe[:title] =%></p>
                  </div>
                </div>
              </a>
              <div class="col-sm-9">
                <div class="well">
                  <p><%= recipe.text =%></p>
                  <p>Serve: <%= recipe.served_people =%> pessoas | Tempo de preparo: <%= recipe.prepare_time %> minutos</p>
                  <p>por <%= recipe.user.first_name %> <%=recipe.user.last_name %> em <%= recipe.created_at.strftime(" %d/%m/%Y às %I:%M%p") %></p>
                  <a href="/receita/visualizar/<%= recipe.id =%>" type="button" class="btn btn-default btn-sm">
                  Ver Receita
                  </a>
                  <a href="/user/<%= recipe.user.username =%>" type="button" class="btn btn-default btn-sm">
                  Chefe
                  <!-- <span class="glyphicon glyphicon-thumbs-down"></span> Dislike -->
                  </a>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="col-sm-12 text-center">
              <div class="well">
                <h4>Pesquise por uma receita! ;)</h4>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col-sm-12 text-center">
            <div class="well">
              <h4>Os usuários que você segue ainda não possuem receitas!</h4>
              <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <p><strong>Nada por aqui?</strong></p>
                Use a busca para descobrir novos chefes!
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-2 well">
      <div>
        <p><img src="http://lorempixel.com/100/150/food/ANUNCIO/" height="100" width="150" alt="Foto Receita"></p>
      </div>
      <div>
        <p><img src="http://lorempixel.com/100/150/technics/ANUNCIO/" height="100" width="150" alt="Foto Receita"></p>
      </div>
      <div>
        <p><img src="http://lorempixel.com/100/150/sports/ANUNCIO/" height="100" width="150" alt="Foto Receita"></p>
      </div>
      <small>Links patrocinados</small>
    </div>
  </div>
</div>
