<%= form_for([@recipe_posted, @recipe_posted.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </div>
  <br>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-default submit">   Comentar</button>
    </div>
  </div>
<% end %>
