<style>
.nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
  color: white;
}

.section-content{
  text-align: center;
}

.info-content{
  text-align: left;
}

.nav-pills > li > a:hover {
  color: black;
}

.content-header{
  font-family: 'Oleo Script', cursive;
  font-size: 45px;
  padding-top: 40px;
}

.yellow{
  color:#fcc500;
}

.text-position{
  position: absolute;
}

.tab-content {
  color : white;
  background-color: #2C4770;
  padding : 60px 15px;
  border-radius: 0 0 8px 8px ;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
  color: white;
  background-color: #2C4770;
}

.center {
  text-align: center;
}

.profile-img{
  height: : 200px;
  width: 200px;
  overflow: hidden;
}

.well {
  color : black;
  background-color: white;
  padding : 15px 15px;
  border-radius: 8px 8px 8px 8px ;
  border-style: none;
}
</style>

<div class="section-content">
  <h1 class="content-header">Buscar no <span class="yellow"> Cook.me</span></h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul  class="nav nav-pills">
  		<li class="active">
        <a  href="#recipes" data-toggle="tab">Receitas</a>
  		</li>
  		<li><a href="#users" data-toggle="tab">Usuários</a>
  		</li>
  	</ul>
  	<div class="tab-content clearfix">
  	  <div class="tab-pane center active" id="recipes">
        <% if @query_recipe != [] %>
          <% if @query_recipe != nil %>
            <% @query_recipe.each do |recipe| %>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="well well-sm">
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                        <h3>Nome: <a href="/receita/visualizar/<%= recipe.id =%>"><%= recipe[:title] =%></a></h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <img src="http://runawayapricot.com/wp-content/uploads/2014/09/placeholder.jpg"
                          class="img-rounded img-responsive" alt="HTML5 Icon" style="width:75%;height:75%;"/>
                      </div>
                      <div class="col-md-5 info-content">
                          <br>
                          <h4>Serve <%= recipe.served_people =%> pessoas</h4>
                          <br>
                          <h4>Tempo de preparo <%= recipe.served_people =%> minutos</h4>
                          <br>
                          <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                              <div class="yellow">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                              </div>
                              <% if(recipe.created_at.day > 10) %>
                                <%= recipe.created_at.day %>
                              <% else %>
                                0<%= recipe.created_at.day %>
                              <% end %>/<% if(recipe.created_at.month > 10) %>
                                <%= recipe.created_at.month %>
                              <% else %>
                              0<%= recipe.created_at.month %>
                              <% end %>/<%= recipe.created_at.year %>
                              <br>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <h3>Pesquise por uma receita <b> ;)</b> </h3>
          <% end %>
        <% else %>
          <h4>Nenhuma encontrada</h4>
        <% end %>
        <br>
  		</div>

      <div class="tab-pane center" id="users">
        <% if @query_users != [] %>
          <% if @query_users != nil %>
            <% @query_users.each do |user| %>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="well well-sm">
                    <a href="/user/<%= user.username %>">
                    <div class="row">
                      <div class="col-sm-6 col-md-4">
                        <div class="profile-img">
                          <%= image_tag(user.avatar.url(:medium), class:"img-responsive", alt:"") %>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8">
                        <h4>Nome: <%= user.first_name %> <%= user.last_name %></h4>
                        <i class="glyphicon glyphicon-envelope"></i>  E-mail: <%= user.email %>
                        <br>
                        <br>
                        <div class="yellow">
                          <i class="glyphicon glyphicon-star"></i>
                          <i class="glyphicon glyphicon-star"></i>
                          <i class="glyphicon glyphicon-star"></i>
                          <i class="glyphicon glyphicon-star-empty"></i>
                          <i class="glyphicon glyphicon-star-empty"></i>
                        </div>
                        <% if(user.created_at.day > 10) %>
                          <%= user.created_at.day %>
                        <% else %>
                          0<%= user.created_at.day %>
                        <% end %>/<% if(user.created_at.month > 10) %>
                          <%= user.created_at.month %>
                        <% else %>
                        0<%= user.created_at.month %>
                        <% end %>/<%= user.created_at.year %>
                        <br>
                      </div>
                    </div>
                  </a>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <h3>Pesquise por um usuário <b> ;)</b> </h3>
          <% end %>
        <% else %>
          <h4>Nenhum usuário encontrado</h4>
        <% end %>
        <br>
  		</div>
  	</div>
  </div>
</div>
