<style>
.nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
  color: white;
}

.section-content{
  text-align: center;
}

.info-content{
  text-align: left;
}

.nav-pills > li > a:hover {
  color: black;
}

.content-header{
  font-family: 'Oleo Script', cursive;
  font-size: 45px;
  padding-top: 40px;
}

.yellow{
  color:#fcc500;
}

.text-position{
  position: absolute;
}

.tab-content {
  color : white;
  background-color: #2C4770;
  padding : 60px 15px;
  border-radius: 0 0 8px 8px ;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
  color: white;
  background-color: #2C4770;
}

.center {
  text-align: center;
}

.profile-img{
  height: : 200px;
  width: 200px;
  overflow: hidden;
}

.well {
  color : black;
  background-color: white;
  padding : 15px 15px;
  border-radius: 8px 8px 8px 8px ;
  border-style: none;
}
</style>

<div class="section-content">
  <h1 class="content-header">Buscar no <span class="yellow"> Cook.me</span></h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul  class="nav nav-pills">
  		<li class="active">
        <a  href="#recipes" data-toggle="tab">Receitas</a>
  		</li>
  		<li><a href="#users" data-toggle="tab">Usuários</a>
  		</li>
  	</ul>
  	<div class="tab-content clearfix">
  	  <div class="tab-pane center active" id="recipes">
        <% if @query_recipe != [] %>
          <% if @query_recipe != nil %>
            <% @query_recipe.each do |recipe| %>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="well well-sm">
                    <a href="/receita/visualizar/<%= recipe.id =%>">
                      <div class="row">
                        <div class="col-md-4">
                          <%= image_tag(recipe.image_one.url(:medium), class:"img-responsive") %>
                        </div>
                        <div class="col-md-8 info-content">
                            <h5>Nome: <%= recipe.title =%></h5>
                            <h5>Serve: <%= recipe.served_people =%> pessoas</h5>
                            <h5>Tempo de preparo: <%= recipe.served_people =%> minutos</h5>
                            <small>por <%= recipe.user.first_name %> <%=recipe.user.last_name %> em <%= recipe.created_at.strftime(" %d/%m/%Y às %I:%M%p") %></small>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <h3>Pesquise por uma receita <b> ;)</b> </h3>
          <% end %>
        <% else %>
          <br><br><br><br>
          <h4>Nenhuma receita encontrada!</h4>
          <br><br><br>
        <% end %>
        <br>
  		</div>

      <div class="tab-pane center" id="users">
        <% if @query_users != [] %>
          <% if @query_users != nil %>
            <% @query_users.each do |user| %>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="well well-sm">
                    <a href="/user/<%= user.username %>">
                    <div class="row">
                      <div class="col-sm-6 col-md-4">
                        <div class="profile-img">
                          <%= image_tag(user.avatar.url(:medium), class:"img-responsive", alt:"") %>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8">
                        <h4>Nome: <%= user.first_name %> <%= user.last_name %></h4>
                        <i class="glyphicon glyphicon-envelope"></i>  E-mail: <%= user.email %>
                        <br>
                        <br>
                        <small>Perfil criado em <%= user.created_at.strftime(" %d/%m/%Y às %I:%M%p") %></small>
                        <br>
                      </div>
                    </div>
                  </a>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <h3>Pesquise por um usuário <b> ;)</b> </h3>
          <% end %>
        <% else %>
          <br><br><br><br>
          <h4>Nenhum usuário encontrado!</h4>
          <br><br><br>
        <% end %>
        <br>
  		</div>
  	</div>
  </div>
</div>
