<br><br><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="col-md-offset-4 col-md-4 well">

    <center>
      <h2>Login</h2>
    </center>

    <div class="field">
      <%= f.label :"E-mail" %><br>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "exemplo@email.com" %><br>
    </div>

    <div class="field">
      <%= f.label :"Senha" %><br>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "********" %><br>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :"Lembrar de mim" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Efetuar Login", class: "btn btn-default submit" %>
    </div>
  </div>
<% end %>
