<center>
  <div class="col-md-offset-4 col-md-4">
    <div class="row">
      <h3><%= @to_show_recipe[:title]%></h3>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= image_tag(@to_show_recipe.image_one.url, class:"img-responsive") %>
      </div>
    </div>
    <div class="row">
      <p>Serve: <%= @to_show_recipe[:served_people]%></p>
    </div>
    <div class="row">
      <p>Tempo de preparo: <%= @to_show_recipe[:prepare_time]%></p>
    </div>
    <div class="row">
      <p>Modo de preparo: <%= @to_show_recipe[:text]%></p>
    </div>
    <div class="row">
      <%= form_for :recipes, url: "/receita/deletar/#{params[:recipe_id]}" do |f| %>
        <div>
          <%= f.submit "Deletar receita", class: "btn btn-default submit" %>
        </div>
      <% end %>
    </div>
</center>
