<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Nome: <%= @recipe_title %></a></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="http://runawayapricot.com/wp-content/uploads/2014/09/placeholder.jpg"
            class="img-rounded img-responsive" alt="HTML5 Icon" style="width:75%;height:75%;"/>
        </div>
        <div class="col-md-5 info-content">
            <br>
            <h4> Descrição da Receita: <%= @recipe_description %></h4>
            <br>
            <h4>Serve <%= @recipe_served_people %> pessoas</h4>
            <br>
            <h4>Tempo de preparo <%= @recipe_prepare_time %> minutos</h4>
            <br>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="yellow">
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star-empty"></i>
                  <i class="glyphicon glyphicon-star-empty"></i>
                </div>
                <br>
              </div>
            </div>
            <div>
              <h2>Comentários</h2>
                <% @recipe_posted.comments.each do |comment| %>
                  <p>
                    <b>Autor:</b>
                    <%= comment.commenter %>
                  </p>

                  <p>
                    <b>Comentário:</b>
                    <%= comment.body %>
                  </p>
                <% end %>
            </div>

            <div>
              <div class="col-md-11">
                <div class="form-group">
                  <label for ="comment"> Faça um Comentário! </label>
                  <%= form_for([@recipe_posted, @recipe_posted.comments.build]) do |f| %>
                    <div class="field">
                      <%= f.label :commenter %><br />
                      <%= f.text_field :commenter %>
                    </div>
                    <div class="field">
                      <%= f.label :body %><br />
                      <%= f.text_area :body %>
                    </div>
                    <div class="actions">
                      <%= f.submit %>
                    </div>
                  <% end %>
                </div>
                <div>
                  <button type="submit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Comentar</button>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
