<style>
  .white-background {
    background-color: white;
  }
</style>

<center>
  <div class="col-md-offset-3 col-md-6 well">
      <div class="col-md-offset-1 col-md-10">
        <div class="row">
          <h3><%= @to_show_recipe[:title]%></h3>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <%= image_tag(@to_show_recipe.image_one.url, class:"img-responsive") %>
          </div>
        </div>
        <div class="row">
          <p>Serve: <%= @to_show_recipe[:served_people]%></p>
        </div>
        <div class="row">
          <p>Tempo de preparo: <%= @to_show_recipe[:prepare_time]%></p>
        </div>
        <div class="row">
          <p>Modo de preparo: <%= @to_show_recipe[:text]%></p>
        </div>
      </div>
      <% if @is_owner %>
        <div class="row">
          <div class="col-md-6">
            <%= form_for :recipes, :method => :get, url: "/receita/editar/#{params[:recipe_id]}" do |f| %>
              <%= f.submit "Editar receita", class: "btn btn-default" %>
            <% end %>
          </div>
          <div class="col-md-6">
            <%= form_for :recipes, url: "/receita/deletar/#{params[:recipe_id]}" do |f| %>
              <%= f.submit "Deletar receita", class: "btn btn-default" %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</center>
