<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-10 col-md-offset-4">
          <h3>Nome: <%= @recipe_title %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="http://runawayapricot.com/wp-content/uploads/2014/09/placeholder.jpg"
            class="img-rounded img-responsive" alt="HTML5 Icon" style="width:75%;height:75%;"/>
        </div>
        <div class="col-md-6 nfo-content">
            <br>
            <h4> Descrição da Receita: <%= @recipe_description %></h4>
            <br>
            <h4>Serve <%= @recipe_served_people %> pessoas</h4>
            <br>
            <h4>Tempo de preparo <%= @recipe_prepare_time %> minutos</h4>
            <br>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="yellow">
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star-empty"></i>
                  <i class="glyphicon glyphicon-star-empty"></i>
                </div>
                <br>
              </div>
            </div>

            <div class="row">
              <h2>Comentários</h2>
                <% @recipe_posted.comments.each do |comment| %>
                <div class="well well-sm">
                  <p>
                    <b>Autor:</b>
                    <%= comment.commenter %>
                  </p>
                  <p>
                    <b>Comentário:</b>
                    <%= comment.body %>
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <button class="btn btn-default submit">Deletar Comentário</button>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-default submit">Editar Comentário</button>
                    </div>
                  </div>
                </div>
                <% end %>
            </div>

            <div class="row">
              <h2>Faça um Comentário! </h2><br>
                <div class="well well-sm">
                <%= form_for([@recipe_posted, @recipe_posted.comments.build]) do |f| %>
                  <div class="field">
                    <%= f.label :commenter %><br>
                    <%= f.text_field :commenter %>
                  </div>
                  <br>
                  <div class="field">
                    <%= f.label :body %><br />
                    <%= f.text_area :body %>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-default submit">   Comentar</button>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
