<!DOCTYPE html>
<html lang="pt">
  <head>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>

    </style>
  </head>

<body>
    <div id="wrap">
      <div id="main" class="clear-top">
        <!-- Header -->
        <div class="header">
          <%= render "/layouts/header" %>
        </div>
        <!-- Content -->
        <%= yield %>
      </div>
    </div>
    <!-- Footer -->
    <footer class="footer container-fluid text-center">
      <p>© Copyright 2017 Cook.me - All Rights Reserved</p>
    </footer>
  </body>

